<!DOCTYPE html>
<html>

<head>
  <title>Boat reservations</title>
</head>

<body>
  <h1>Boat reservations</h1>

  <p><a href="{{ url_for('announcements') }}">All announcements</a></p>

  {% include 'calendar.html' %}

  {% if session.username %}
  <p>
    Signed in as {{ session.username }}
  </p>
    {% endif %}

  <p>
  {% if not session.username %}
  <a href="/login">Log in</a>
  <a href="/register">Create an account</a>
    {% endif %}
  {% if session.username %}
  <a href="{{ url_for('profile') }}">My profile</a>
  <a href="/logout">Log out</a>
    {% endif %}
  </p>

  {% if session.username %}
  <p>
    <a href="/new_reservation">New entry</a>
  </p>
    {% endif %}
</body>

</html>
