<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
</head>

<body>
  <p><a href="/">← Home</a></p>

  {% if session.username %}
  <p>
    Signed in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <form class="ajax-form" action="/login" method="post">
    {% include '_csrf_field.html' %}
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log in" />
  </form>
  {% endif %}
  <script src="{{ url_for('static', filename='ajax_forms.js') }}"></script>
</body>

</html>
